<!-- Highlight Card -->
<!-- () - used for event handlers -->
<div class="card highlight-card card-small" (click)="onClicked()">

  <!-- {{   }} used for data interpolation -->
  <span>{{ data.title }} app is running!</span>

</div>

<!-- [  ] - used for passing dynamic values to a tag property -->
<!-- # - used to give a custom name to the tag so that it can be referenced within the template, in our case inside the event handler -->
<input class="demo" (keyup)="onKeyUp(demoInput.value)" [value]="data.title" #demoInput>
