<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- | async = async pipe that subscribes to the observable passed to it (courses$); also works with promises-->
<div>

  <div class="courses">

    <!-- the courseChanged event is emitted from the course-card component level; we are subscribing to the data change below -->
    <course-card *ngFor="let course of (courses$ | async)"
                 (courseChanged)="save($event)"
                 [course]="course">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>

  </div>


</div>




